/* flex-shrink와 flex-grow는 반응형 디자인에 유용하다! */

.father {
  display: flex;
  justify-content: space-around;
  height: 100vh;
  flex-direction: row;
}

.child {
  /* box가 줄어들거나 늘어나기 전에 너비 설정 */
  flex-basis: 30%;
  background-color: aqua;
  color: white;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.child:nth-child(2) {
  background-color: #000;
  flex-grow: 1;
}
